
<h1 class="text-red-500">News: </h1>

<div class="container">
  <div class="flex flex-row">
    <div class="basis-1/4"><%= render @news %></div>
    <div class="basis-1/4"><%= render @photo_report %></div>
    <div class="basis-1/4"><%= render @video %></div>
  </div>
</div>

