
<h1 class="text-red-500">News: </h1>


<div class="container">

  

  <div class="grid grid-cols-4 gap-4">

      

          <div class="grid grid-rows-3 grid-flow-col gap-4">

            <% @news.each do |new|%>
              <div><%= render new%></div>
            <% end%>

      
          </div>

    <% @photo_report.each do |photo|%>
      <div><%= render photo%></div>
      <% end%>

    
  </div>


  <div class="grid grid-cols-3 gap-4">

    <% @video.each do |vid|%>
      <div><%= render vid %></div>
    <% end%>
      
  </div>
</div>



