
<h1 class="text-red-500">News: </h1>

<div class="container">
  <div class="grid grid-cols-3 gap-4">
     <div class="..."><%= render @news %></div>
       <div class="col-span-2 ..."><%= render @photo_report %></div>
     <div><%= render @video %></div>
  </div>
</div>



